---
title: Unity Performance Field Guide
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="spectre.min.css">
        <link rel="stylesheet" href="spectre-exp.min.css">
        <link rel="stylesheet" href="spectre-icons.min.css">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/cvo3vmx.css">

        <meta content="Unity (Unofficial) Performance Field Guide" property="og:title"/>
        <meta content="This field-guide is an attempt to articulate a series of from-the-trenches tips and tricks. So you can build good habits and generate less optimization work for yourself later." property="og:description"/>
        <meta content="https://unityfieldguide.com/" property="og:url"/>
        <meta content="https://unityfieldguide.com/img/Screenshot_1.png" property="og:image"/>
        <meta content="#5755D9" data-react-helmet="true" name="theme-color"/>
        <link rel="icon" type="image/x-icon" href="img/favicon.png">

        <script>
            // a key map of allowed keys
            var allowedKeys = {
                37: 'left',
                38: 'up',
                39: 'right',
                40: 'down',
                68: 'd',
                73: 'i',
                71: 'g'
            };

            // the 'official' Konami Code sequence
            var konamiCode = [
                'up',
                'down',
                'up',
                'down',
                'd',
                'i',
                'g'
            ];

            // a variable to remember the 'position' the user has reached so far.
            var konamiCodePosition = 0;

            // add keydown event listener
            document.addEventListener('keydown', function (e) {
                // get the value of the key code from the key map
                var key = allowedKeys[e.keyCode];
                // get the value of the required key from the konami code
                var requiredKey = konamiCode[konamiCodePosition];

                // compare the key with the required key
                if (key == requiredKey) {

                    // move to the next key in the konami code sequence
                    konamiCodePosition++;

                    // if the last key is reached, activate cheats
                    if (konamiCodePosition == konamiCode.length) {
                        activateCheats();
                        konamiCodePosition = 0;
                    }
                } else {
                    konamiCodePosition = 0;
                }
            });

            var hasRun = false;

            function activateCheats() {

                hasRun = true;
                document
                    .getElementById("secret")
                    .style
                    .display = "inline";

                var audio = new Audio('audio/pling.mp3');
                audio.play();

                //alert("secret unlocked");
            }
        </script>
    </head>
    <body>
        <!--
        <header class="navbar" style="padding: 1rem; box-shadow: 2px 2px 2px lightgrey;">
            <section class="navbar-section">
                <a href="./" class="navbar-brand mr-2">{{ title }}</a>
            </section>
            <section class="navbar-section">
                <a href="https://github.com/tylertomaseski/Unity-Performance-Field-Guide" class="btn btn-link">GitHub Repo</a>
            </section>
        </header>
        -->

        <div class="container grid-lg centered filter">
            <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
            <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
            <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
            <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>

            <div class="columns">
                <div class="column col-12 card mt-2 pt-2">
                    <h1>
                        <center>The <small class="label">unofficial</small> Unity Performance Field Guide!</center>
                        <center>
                            <h4>
                                <kbd>Version 1</kbd>
                            </h4>
                        </center>
                    </h1>
                    {{ content }}
                </div>
            </div>
            <!-- end columns -->

            <div class="columns">
                <div class="column col-12 pt-2 mt-2">
                    <h1 class=" mb-0">
                        <center>The tips!</center>
                    </h1>
                </div>
            </div>

            <!--
            <div class="filter-nav">
                <strong>Filters:</strong>
                <label class="chip" for="tag-0">All</label>
                <label class="chip" for="tag-1">Code</label>
                <label class="chip" for="tag-2">Art</label>
                <label class="chip" for="tag-3">Engine</label>
            </div>
            -->

            <div class="divider"></div>

            <div class="filter-body">
                {%- for post in collections.tip -%}
                    <div class="columns filter-item" data-tag="
                                {%- if post.data.code == 1 -%}
                                    tag-1
                                {%- endif -%}
                                {%- if post.data.art == 1 -%}
                                    tag-2
                                {%- endif -%}
                                {%- if post.data.engine == 1 -%}
                                    tag-3
                                {%- endif -%}">
                        <div class="column col-9 col-sm-12">
                            <h2 class="mb-0 label label-primary">{{ post.data.title }}</h2>
                            <div class="ml-1 mt-2">
                                <i class="ml-1">Tags: </i>
                                {%- if post.data.code == 1 -%}
                                    <span class="chip">Code</span>
                                {%- endif -%}
                                {%- if post.data.art == 1 -%}
                                    <span class="chip">Art</span>
                                {%- endif -%}
                                {%- if post.data.engine == 1 -%}
                                    <span class="chip">Engine</span>
                                {%- endif -%}
                            </div>
                        </div>

                        <div class="column col-3 col-sm-12 pt-2 panel label">
                            <h6 class="" style="text-align: center;">Difficulty</h6>
                            <ul class="step">
                                <!-- Switch to shortcode for this conditional -->
                                <li class="{%- if post.data.difficulty == 1 -%}step-item active {%- else -%}step-item{%- endif -%}">
                                    <a href="#" class="tooltip" data-tooltip="Trivial">1</a>
                                </li>
                                <li class="{%- if post.data.difficulty == 2 -%}step-item active {%- else -%}step-item{%- endif -%}">
                                    <a href="#" class="tooltip" data-tooltip="Worthwhile, but non-trivial">2</a>
                                </li>
                                <li class="{%- if post.data.difficulty == 3 -%}step-item active {%- else -%}step-item{%- endif -%}">
                                    <a href="#" class="tooltip" data-tooltip="Difficult, but worthwhile if you have the time">3</a>
                                </li>
                            </ul>
                        </div>

                        <!-- INSTEAD OF -->
                        {%- if post.data.bad_example != 0 -%}
                            <div class="column col-4 col-md-12 mt-2">
                                <h4 class="label label-error">Instead of...</h4>
                                <p>
                                    {{ post.data.instead_of }}
                                </p>
                            </div>
                            <div class="column col-8 col-md-12">
                                <pre class="code" data-lang="C#"><code><span class="com">{{ post.data.bad_example }}</span></code></pre>
                            </div>
                        {%- else -%}
                            <div class="column col-12 mt-2">
                                <h4 class="label label-error">Instead of...</h4>
                                <p>
                                    {{ post.data.instead_of }}
                                </p>
                            </div>
                        {%- endif -%}

                        <!-- TRY -->
                        {%- if post.data.good_example != 0 -%}
                            <div class="column col-4 col-md-12 mt-2">
                                <h4 class="label label-success">Try instead...</h4>
                                <p>
                                    {{ post.data.try }}
                                </p>
                            </div>
                            <div class="column col-8 col-md-12">
                                <pre class="code" data-lang="C#"><code><span class="com">{{ post.data.good_example }}</span></code></pre>
                            </div>
                        {%- else -%}
                            <div class="column col-12 mt-2">
                                <h4 class="label label-success">Try instead...</h4>
                                <p>
                                    {{ post.data.try }}
                                </p>
                            </div>
                        {%- endif -%}

                        <!-- BECAUSE -->
                        <div class="column col-12">
                            <h4>Because...</h4>
                            <p>
                                {{ post.data.because }}
                            </p>

                            <div class="divider"></div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <!-- End COLUMNS -->

                {%- endfor -%}

            </div>
            <!-- end filter body -->

            <div class="hero bg-gray">
                <div class="hero-body">
                    <h1>
                        <center>Good luck out there!</center>
                    </h1>
                    <p>
                        <center>We're rooting for you!</center>
                    </p>
                </div>
            </div>
        </div>
        <!-- End CONTAINER -->
    </body>
</html>